{
  "parser": "@typescript-eslint/parser",
  "extends": ["react-app", "eslint:recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["node_modules/"],
  "rules": {
    "indent": "off",
    "no-alert": "off",
    "no-unused-vars": "warn",
    "no-undef": "warn"
  }
}
